################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/EFSampleCode/bin/Debug/net8.0
/src/EFSampleCode/.vs/EFSampleCode/DesignTimeBuild
/src/EFSampleCode/.vs/EFSampleCode/FileContentIndex
/src/EFSampleCode/.vs/EFSampleCode/v17
/src/EFSampleCode/obj
/src/EFSampleCode/bin/Debug/net9.0
